parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an.*children#'
        - '#Language construct empty#'
        - '#Method .* but containers should not be injected#'
        - '#Method .* has parameter .* with a nullable type declaration#'
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - src/Kernel.php
    ergebnis:
        classesAllowedToBeExtended:
            - Symfony\Component\HttpKernel\Bundle\Bundle
            - Symfony\Component\HttpKernel\DependencyInjection\Extension

includes:
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
